.text {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 24px;

  .content {
    width: 80%;

    h2 {
      margin: 0;
    }

    p {
      margin: 16px 0 0;
    }

    ul {
      margin: 0;
      padding-left: 16px;
    }
  }
}

.right {
  justify-content: flex-start;
  align-items: flex-end;
  text-align: right;
}

.left {
  justify-content: flex-end;
  align-items: flex-start;
}
