.colorOne {
  display: flex;
  position: relative;
  width: 50vw;
  height: 100vh;
  padding: 0;
  margin: 0;

  .inputOne {
    position: absolute;
    width: 250px;
    height: 50px;
    font-size: 24px;
    padding: 0 16px;
    color: black;
    background: white;
    border: 1px solid #cccccc;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.4),
      inset 0px 8px 8px 0px rgba(0, 0, 0, 0.4);
    border-radius: 4px;
    top: calc(50% - 50px);
    right: 0;
    z-index: 500;

    &:focus {
      border: none;
      outline: none;
    }
  }
}
